html {
  padding: 1%;
  background-color: #cfadea;
}

body {
  border-radius: 4px;
  background-color: white;
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  font-family: Arial;
}

.header {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.conteiner-uno {
  width: 50%;
}

.conteiner-dos {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.nav-container {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.nav-container2 {
  display: contents;
}

.logo img {
  padding: 0px;
}

.logo {
  width: 120px;
  display: flex;
  justify-content: flex-start;
}

.image {
  width: 30%;
  border-radius: 4px;
}

.title {
  font-family: "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  white-space: pre-line;
}

.parraph {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
  white-space: pre-line;
}

.aside-left {
  display: block;
  margin-left: 130px;
}

.bottones {
  background-color: white;
  margin: auto 0;
  border: none;
  /* transition: all 0.4 ease; */
  padding: 15px 32px;
}

.register {
  border-radius: 2px;
  border: #6966f2;
  background-color: #6966f2;
  padding: 15px 32px;
  color: white;
}
